#header {
  position: relative;
}

.Header-logo {
  width: 120px;
  height: 80px;
}

.Header-link {
  padding: 0 10px;
  font-family: "Open sans";
  font-weight: 550;
  font-size: 15px;
  opacity: 0.6;
}

.Header-link:hover {
  opacity: 0.4;
}

.Header-link.active {
  color: #910b0b !important;
  opacity: 1;
}

.Header-search {
  font-size: 17px;
}
.Header-search:hover {
  color: #910b0b;
}

.Header-burgerMenu {
  font-size: 30px;
  color: #910b0b;
}

/* search */
.searchSection {
  background-color: #fff;
  color: #fff;
  padding: 0;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.searchSection > .input-1 {
  border: none;
  margin: 0 10px;
  background-color: transparent !important;
  outline: none;
}

.dropdown {
  background-color: #fff;

  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
