@import url("responsive.css");
@import url("Header.css");
@import url("Card.css");
@import url("Sections.css");
@import url("Number.css");

/*font*/
/*open sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open sans";
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.click {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.backToTop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 40px;
  font-size: 1.5em;
  color: #fff;
  border-radius: 15px;
  bottom: 15px;
  right: 15px;
}

.chat {
  position: fixed;
  background-color: #dd9933;
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  color: #fff;
  border-radius: 50%;
  bottom: 15px;
  left: 15px;
}

.mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

.borderBottom {
  border-bottom: #000 1px solid;
}

.w100 {
  width: 100%;
}
